<div class="col-4">
	<br>
	<div class="card shadow very-rounded">
		<div class="card-body">
			<div class="row m-2 justify-content-center">
				<img src="{{user.pictureUrl}}" width="25%" class="very-rounded" />
				<h2 class="mt-2">{{user.displayName}}</h2>
			</div>
			<hr>
			<ul class="list-group">
				<li class="list-group-item d-flex justify-content-between">
					<div>Email: <a style="text-decoration: none;" href="mailto:{{user.email}}">{{user.email}}</a></div>
				</li>
				<li class="list-group-item d-flex justify-content-between">
					<div id="phone-view">Phone:
						{{#if user.phone}}
						<a style="text-decoration: none;" href="callto:{{user.phone}}">
							{{user.phone}}
						</a>
						{{else}}
						<span class="text-secondary">Not Set</span>
						{{/if}}
						<a id="phone-edit-button"><i class="fas fa-edit"></i></a>
					</div>
					<form hidden class="form-inline input-group" id="phone-edit">
						<input type="tel" class="form-control" placeholder="Enter Phone Number" required />
						<div class="input-group-append">
							<input type="submit" class="btn btn-success" value="&#10004" />
						</div>
					</form>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="col-8">

</div>
<script src="/javascripts/profile.js"></script>