<div class="row align-items-center justify-content-center">
  <div class="col-6">
    <br />
    <div class="card shadow very-rounded">
      <div class="card-body">
        <div class="row m-2 align-items-center">
          <img
            src="{{user.pictureUrl}}"
            width="25%"
            style="border-radius: 5rem;"
          />
          <h2 class="mt-2 font-weight-bold">
            {{user.displayName}}
          </h2>
        </div>
        <hr />
        <div class="m-2">
          Email:
          <a style="text-decoration: none;" href="mailto:{{user.email}}">
            {{user.email}}
          </a>
        </div>
        <!--NICKNAME-->
        <div id="nickname-view" class="m-2">
          Nickname:
          {{#if user.nickname}}
            {{user.nickname}}
          {{else}}
            <span class="text-secondary">
              Not Set
            </span>
          {{/if}}
          <a id="nickname-edit-button">
            <i class="fas fa-edit"></i>
          </a>
        </div>
        <form hidden class="form-inline" id="nickname-edit" method="POST">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Nickname"
              name="nickname"
              maxlength="30"
              id="user-nickname"
              value="{{user.nickname}}"
              required
            />
            <div class="input-group-append">
              <button type="submit" class="btn btn-success">
                <i class="fa fa-check"></i>
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <div
              id="cancel-button"
              class="text-danger"
              style="cursor: pointer;"
            >
              <i class="fa fa-times"></i>
              cancel
            </div>
          </div>
        </form>
        <!--COLOR-->
        <div id="color-view" class="m-2">
          Color:
          {{#if user.color}}
            <span style="background-color: {{user.color}};" class="very-rounded">&emsp;&emsp;</span>
          {{else}}
            <span class="text-secondary">
              Not Set
            </span>
          {{/if}}
          <a id="color-edit-button">
            <i class="fas fa-edit"></i>
          </a>
        </div>
        <form hidden class="form-inline" id="color-edit" method="POST">
          <input
            type="color"
            name="color"
            id="user-color"
            value="{{user.color}}"
            required
          />
          <button type="submit" class="btn btn-success">
            <i class="fa fa-check"></i>
          </button>
          <div class="d-flex justify-content-end">
            <div
              id="color-cancel-button"
              class="text-danger"
              style="cursor: pointer;"
            >
              <i class="fa fa-times"></i>
              cancel
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/javascripts/profile.js"></script>